<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Result</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-5">Upload Result</h1>
    <div class="alert alert-info">
        The data has been successfully sent for conversion. Please look at the console.
    </div>
    <button onclick="window.location.href='/'" class="btn btn-primary">Repeat</button>
</div>
</body>
</html>